body {
  background-color: #333333;
  font-family: "Open Sans", Helvetica;
}

form {
  text-align: center;
  margin-top: 100px;
}

label {
  display: block;
  letter-spacing: 4px;
  padding-top: 20px;
  text-align: center;
}

label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  text-transform: uppercase;
  transform: translateY(-34px);
  transition: all 0.3s;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #4A4A4A;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
}

.player-name input:focus {
  max-width: 100%;
  width: 350px;
}

label input:focus+.label-text {
  color: #F0F0F0;
  font-size: 13px;
  transform: translateY(-74px);
}

label input:valid+.label-text {
  font-size: 13px;
  transform: translateY(-74px);
}

.wins-label {
  padding-top: 35px;
}

button {
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

button:hover,
button:focus {
  background-color: white;
  color: #333333;
}

.player-container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.delete-button {
  font-size: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}

li {
  margin: 100px 30px 0 15px;
  list-style: none;
  color: aqua;
  font-size: 25px;
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
}

.card {
  border: 0;
  border-bottom: 1px solid #4A4A4A;
  padding: 20px;
}
